<div class="container mt-">
  <section id="main">
    <div class="row">
      <div class="col-12 col-lg-6 align-self-lg-center">
        <h1 class="heading text-center text-md-start">
          It's a Big World <br class="d-none d-md-block" />Out There,&nbsp;Go
          <br class="d-none d-md-block" />Explore
        </h1>
        <p class="head-desc text-secondary text-center text-md-start mt-3">
          We always make our customer happy by providing <br />as many choices
          as possible
        </p>
        <div class="mb-4 mb-md-0 text-center text-md-start">
          <button class="btn btn-lg btn-primary border-3">Explore now</button>
        </div>
      </div>
      <div class="col-12 col-lg-6">
        <img src="./assets/pic-1.png" alt="" class="img-fluid" />
      </div>
      <div class="col-12 order-first order-md-4 w-75 search-top">
        <form [formGroup]="searchForm" (ngSubmit)="searchHotel()">
          <section
            id="search"
            class="d-flex flex-column flex-md-row justify-content-between align-items-lg-center order-1 mb-4 mb-md-0"
          >
            <div class="flex search-contain py-3 px-4" tabindex="0">
              <div class="location d-flex align-items-center">
                <div>
                  <i class="fa fa-2x fa-map-marker"></i>
                </div>
                <div class="ms-3">
                  <input
                    type="text"
                    class="border-0 bg-transparent"
                    placeholder="Location"
                    formControlName="location"
                  />
                  <br />
                  <span class="text-muted"> Where are you going </span>
                </div>
              </div>
            </div>
            <div class="flex filter-contain py-3 px-4" tabindex="0">
              <div class="location d-flex align-items-center">
                <div>
                  <i class="fa-solid fa-filter fa-2x"></i>
                </div>
                <div class="ms-3">
                  <input
                    type="text"
                    class="border-0 bg-transparent"
                    placeholder="Filter"
                    (keyup)="filterName($event)"
                  />
                  <br />
                  <span class="text-muted"> Search by hotel name </span>
                </div>
              </div>
            </div>
            <div class="search_button py-3 px-4" tabindex="0">
              <button
                type="submit"
                class="btn btn-primary"
                [disabled]="!searchForm.valid"
              >
                <span class="d-md-none">Search</span>
                <i class="fa fa-solid fa-search"></i>
              </button>
            </div>
          </section>
        </form>
      </div>
    </div>
  </section>
  <ng-container>
    <ng-container
      *ngIf="filteredHotels.length > 0; then trueBlock; else elseBlock"
    >
    </ng-container>
  </ng-container>
  <ng-template #trueBlock>
    <section id="card-section" #view>
      <h1>Explore Hotels in {{ filteredHotels[0].city }}</h1>
      <div class="row justify-content-center my-2 mb-md-2 p-2 align-items-end">
        <div
          class=".col-12 col-md-6 col-lg-4 mb-3"
          *ngFor="let hotel of filteredHotels | filter: filtername"
        >
          <div class="card">
            <a
              [routerLink]="['/hotelDetail', hotel._id]"
              [ngClass]="{ disabled: hotel.rooms.length == 0 ? true : false }"
            >
              <img src="{{ hotel.images[0] }}" alt="" class="card-img-top" />
              <div class="card-body">
                <div class="d-flex justify-content-between">
                  <div class="info">
                    <h2 class="m-0">{{ hotel.name }}</h2>
                    <p class="mb-1">Rooms-{{ hotel.rooms.length }}</p>
                    <div>
                      <i class="fa-solid fa-location-dot"></i>
                      <span class="text-primary mb-0 ms-2">{{
                        hotel.address
                      }}</span>
                    </div>
                  </div>
                  <div class="favo">
                    <i class="fa fa-solid fa-heart heart"></i>
                  </div>
                </div>
                <hr />
                <div class="d-flex justify-content-between align-items-center">
                  <div class="price">
                    Rooms starts at <br />
                    $2000 /-
                  </div>
                  <div class="rating">
                    <i class="fa fa-solid fa-star text-warning"></i>
                    <span>{{ hotel.ratings }}&nbsp;(340)</span>
                  </div>
                </div>
              </div>
            </a>
          </div>
        </div>
      </div>
    </section>
  </ng-template>

  <ng-template #elseBlock>
    <div class="py-3" #view>
      <h1 class="text-center">
        Sorry We are not providing service in this place
      </h1>
    </div>
  </ng-template>
</div>
