<a
  [routerLink]="['/roomDetail/' + hotel?.name + '/' + value?._id]"
  [queryParams]="{ checkin: in, checkOut: out }"
  class="text-decoration-none"
>
  <div class="col-12 mb-3">
    <div class="content border p-3 mt-5 mt-md-0">
      <div class="row">
        <div class="col-12 col-md-9">
          <div class="row">
            <div class="col-12 col-md-5 pic">
              <img
                src="http://localhost:8000/{{ value.images[0] }} "
                alt=""
                class="img-fluid"
              />
            </div>
            <div
              class="col-12 col-md-7 mt-3 d-flex flex-column justify-content-between ps-md-0"
            >
              <div
                class="top d-flex flex-column flex-md-row justify-content-between"
              >
                <div>
                  <div class="star">
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                  </div>
                  <h5>{{ value.roomtype }}</h5>
                  <span>
                    <i
                      class="fa-solid fa-people-group text-white ms-1 ms-md-0"
                    ></i>
                    &nbsp;{{ value.capacity }} Sharing
                  </span>
                </div>

                <div class="ratings my-2 my-md-0">
                  <span class="badge bg-success p-1 px-2 me-2 text-white"
                    >3.8/5</span
                  >
                  <span>39 Ratings</span>
                </div>
              </div>
              <div class="d-flex flex-column">
                <span class="mb-1">
                  <i class="fa-solid fa-bolt text-white bg-primary me-2"></i
                  >Good Service quality
                </span>
                <span class="mb-1">
                  <i class="fa-solid fa-bed me-1"></i>
                  Deluxe with free Breakfast
                </span>
                <div>
                  <span class="me-1">
                    <i class="fa-solid fa-wifi me-1"></i>
                    free wifi
                  </span>
                  <span>
                    <i class="fa-solid fa-circle-check me-1"></i>
                    Air conditioning
                  </span>
                  <span>
                    <a href="#" class="text-decoration-none">+ more</a>
                  </span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div
          class="col-12 col-md-3 detail border-md-start text-end d-flex flex-row-reverse d-md-block mt-4 mt-md-0 justify-content-between"
        >
          <h6 class="d-none d-md-block free-cancel">
            Free Cancellation available
          </h6>
          <div
            class="offer p-2 ms-md-auto text-center mb-1 order-1"
            *ngIf="value.offer > 0"
          >
            <h6 class="px-2">{{ value.offer }}% off Steal Deal</h6>
            <p class="m-0">Expires at midnight</p>
          </div>
          <div class="price-section">
            <div class="amount-details">
              <span *ngIf="value.offer > 0"
                ><s>&#8377;{{ value.price }}</s></span
              >
              <h4 class="d-inline-block mb-0">
                {{ value.price - (value.price * value.offer) / 100 }}
              </h4>
              <p class="m-0">+357 Tax price</p>
            </div>
          </div>
          <button class="d-none d-md-inline-block btn btn-primary mt-2">
            Details
          </button>
        </div>
      </div>
    </div>
  </div>
</a>
