<div class="row py-5">
  <h3>My Bookings</h3>
  <div class="col-12 col-md-4" *ngFor="let booking of bookings">
    <div class="card">
      <img
        src="https://images.unsplash.com/photo-1611892440504-42a792e24d32?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8M3x8aG90ZWwlMjByb29tfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60"
        class="card-img-top img-fluid"
        alt="..."
      />
      <div class="card-body text-start">
        <h4>{{ booking.Hotelname }}</h4>
        <h5>{{ booking.RoomType }}</h5>
        <div class="date">
          <h6 class="me-5">From: {{ booking.Date.from }}</h6>
          <h6>To: {{ booking.Date.to }}</h6>
        </div>
        <h6>Booked on:</h6>
        <hr />
        <h6>Amount: &#x20B9; {{ booking.amount }}</h6>
      </div>
    </div>
  </div>
</div>
