<footer>
  <hr />
  <div class="container pt-5 pb-2">
    <div class="d-flex flex-column flex-md-row justify-content-between">
      <div>
        <h4>HD</h4>
        <h6 style="letter-spacing: 2px">
          <span class="text-primary fw-bold">H</span>oli<span
            class="text-primary fw-bold"
            >D</span
          >ay
        </h6>
        <p>
          Discover the most outstanding <br />articles on all topics of life
        </p>
      </div>
      <div>
        <h5>Support</h5>
        <ul class="list-unstyled">
          <li>Help Center</li>
          <li>Safety information</li>
          <li>Cancellation options</li>
        </ul>
      </div>

      <div>
        <h5>Social Links</h5>
        <a href="#" class="text-light m-2 ms-0"
          ><i class="fa-brands fa-facebook fa-2x"></i
        ></a>
        <a href="#" class="text-light m-2"
          ><i class="fa-brands fa-twitter fa-2x"></i
        ></a>
        <a href="#" class="text-light m-2"
          ><i class="fa-brands fa-instagram fa-2x"></i
        ></a>
        <br />
        <div class="mt-2">
          <a href="#" class="me-2">
            <img src="./assets/appstore.webp" alt="appstore" width="150px" />
          </a>
          <a href="#">
            <img src="./assets/google.webp" alt="playstore" width="150px" />
          </a>
        </div>
      </div>
    </div>
    <hr class="mt-5" />
    <p class="text-muted copyright mt-3">
      By continuing past this page, you agree to our Terms of Service, Cookie
      Policy, Privacy Policy and Content Policies. All trademarks are properties
      of their respective owners.2021 &copy; HD™ Ltd. All rights reserved.
    </p>
  </div>
</footer>
