@import "~ngx-toastr/toastr.css";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
*:focus {
  outline: 0 !important;
  box-shadow: none !important;
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-text-fill-color: white;
  -webkit-box-shadow: 0 0 0 30px #111827 inset !important;
  box-shadow: 0 0 0 30px #111827 inset !important;
  color: white;
}

html,
body {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  color: white !important;
  background-color: #111827;
  padding-top: 40px;
  max-width: 100%;
  min-width: 352px !important;
}

.toast-container .ngx-toastr {
  width: 350px;
}

.form-group {
  position: relative;
}

.error {
  position: absolute;
  top: 0px;
  right: 0;
  font-weight: bold;
  font-size: 18px;
}

.password-group {
  position: relative;
}

.password-group i {
  position: absolute;
  top: 42px;
  right: 30px;
}

@media screen and (max-width: 991px) {
  .navbar-dark .navbar-toggler {
    color: transparent;
  }
  .navbar-toggler:focus {
    border: 0;
  }
  .navbar-nav {
    padding: 10px;
    position: relative;
  }
  .closenav {
    position: absolute;
    top: 10px;
    right: 20px;
    color: white;
    z-index: 1000;
    cursor: pointer;
  }
  .navbar-collapse {
    background-color: #111827;
    position: absolute;
    top: 0;
    width: 95%;
    height: 100vh;
    z-index: 1;
    transition: all 0.4s ease;
    display: block;
  }
  .navbar-collapse.collapsing {
    left: -96%;
    transition: height 0s ease;
  }
  .navbar-collapse.show {
    left: 0;
    transition: left 300ms ease-in-out;
  }
  .navbar-toggler.collapsed ~ .navbar-collapse {
    transition: left 500ms ease-in-out;
  }
}

@keyframes shake {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }
  10% {
    transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    transform: translate(-3px, 0px) rotate(1deg);
  }
  30% {
    transform: translate(3px, 2px) rotate(0deg);
  }
  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    transform: translate(3px, 1px) rotate(-1deg);
  }
  80% {
    transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    transform: translate(1px, 2px) rotate(0deg);
  }
  100% {
    transform: translate(1px, -2px) rotate(-1deg);
  }
}
