<div class="user-info py-5">
  <div class="profile-pic">
    <img
      [src]="
        image != undefined
          ? 'http://localhost:8000/' + image
          : './assets/profile.png'
      "
      alt=""
      class="img-fluid"
    />
    <h1>{{ User?.name }}</h1>
    <div class="form-container mx-auto">
      <form class="form text-start" (ngSubmit)="updateUserInfo($event)">
        <div class="form-group mb-4">
          <label for="name" class="mb-2">Full Name</label>
          <input
            type="text"
            class="form-control"
            id="name"
            [(ngModel)]="name"
            [ngModelOptions]="{ standalone: true }"
          />
        </div>
        <div class="form-group mb-4">
          <label for="email" class="mb-2">Email id</label>
          <input
            type="text"
            name=""
            id="email"
            value="{{ User?.email }}"
            class="form-control"
            disabled
          />
        </div>
        <div class="form-group mb-4">
          <label for="phone" class="mb-2">Phone</label>
          <input
            type="text"
            name=""
            id="phone"
            value="{{ User?.phone }}"
            class="form-control"
            disabled
          />
        </div>
        <div class="form-group mb-4">
          <label for="address" class="mb-2">Address</label>
          <textarea
            name=""
            id="address"
            cols="30"
            rows="1"
            class="form-control bg-transparent"
            [(ngModel)]="address"
            [ngModelOptions]="{ standalone: true }"
          ></textarea>
        </div>
        <div class="form-group mb-4">
          <input
            type="file"
            id="file"
            class="form-control"
            (input)="fileChoosen($event)"
            accept="image/png,image/jpeg,image/jpg"
          />
        </div>
        <button class="btn btn-primary w-100 py-2" type="submit">Update</button>
      </form>
    </div>
  </div>
</div>
